
@mixin displayFlex($direction){
    display: flex;
    flex-direction: $direction;
}


html{

    // font-size: 16px;
}


*{
    box-sizing: border-box;
    font-size: 16px;
    margin: 0;
    padding: 0;
    font-size: calc(70% + 0.6vmin);
    font-family: 'Raleway', sans-serif;
}

body{
    // height: 150vh;
    // background: #ffffffd0;
    overflow-x: hidden;
}

.header{
    height: 50px;
    width: 100%;
    position:fixed;
    padding:0 30px;
    background: #ffffff;
    @include displayFlex(row);
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.1px solid #dddcdc;
    box-shadow: 0.2px 0.2px 2px rgba(0, 0, 0, 0.2);
    z-index: 10;

    &__content{
        @include displayFlex(row);
    }

    &__item{
        padding: 0 20px;
        

        &:hover{
            cursor: pointer;
        }

        &--active{
            font-weight: bold;
        }
    }

    &__menu{
        display: none;
        top: 0.90rem;
        right: 0.90rem;
        position: absolute;
        height: 20px;
        width: 20px;

        img{
            width: 100%;
            height: 100%;
        }
    }
}

.main{
    width: 65vw; //change here necessarily
    margin: 0 auto;
    padding-top: 120px;

    &__section{
        background: #ffffff;
        margin-bottom: 20px;
        border-bottom: 1px solid #cccbcb;
    }

    .main__title{
        font-size: 3rem;
    }

    .main__image{

        width: 100%;
    }

    .main__description{
        font-size: 1.2rem;
    }
    
    .main__FAQ , .main__questions{
        font-size: 1.3rem;
    }

    &__description{
        line-height: 35px;
    }

    &__stacks{
        @include displayFlex(row);
        justify-content: space-evenly;

    }

    &__tech{
        padding: 20px 20px 0px 20px;
        // background: #f8f8f8;
        
        &:hover{
            cursor: pointer;
            border-radius: 2px;
            background: rgb(245, 245, 245);
        }

    }

    &__tech__img{
        width: 5vw;
        height:auto;
    }

    &__projects{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
        gap: 10px;

        &__item{
            
            &:hover{
                cursor: pointer;
                background: rgb(245, 245, 245);
                border-radius: 2px;
            }

            img{
                width: 100%;
                height: 200px;
            }
            
            p,h1{
                padding-left: 10px;
            }
        }


        
    }

    // ACCORDION 

    // ACCORDION

    

    *{
        padding-bottom: 10px;
    }
    
}

input[type="checkbox"] {
    display: none;
}

  /* Style for the accordion labels */
.accordion-label {
    display: block;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;

    &::before{
        content: "+";
        padding-right: 10px;
    }
}

  /* Styling when the label is checked (accordion is open) */

  /* Hide the content by default */
.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s;
    display: none;
}

  /* Show the content when the label is checked */
input[type="checkbox"]:checked + .accordion-label + .accordion-content {
    max-height: 500px; /* Adjust the maximum height as needed */
    display: block;
    transition: max-height 0.3s;
}

.media{
    position: fixed;
    top: 30vh;
    left: 30px;
    padding: 15px 10px 15px 10px;

    &__items{
        
        img{    
            width: 2.2vw;
            height:auto;
            padding: 15px 0px 15px 0px;

            &:hover{
                cursor: pointer;
            }
        }
        
    }
}

.hero{
    width: 100vw;
    height: 100vh;
    background-color: #fafafa;
    

    &__scroller{
        position: absolute;
        width: 100px;
        height: 100px;
        background-color: rgba(212, 212, 212, 0.76);
        bottom: 0px;
        left: 300px;
    }

    &__greet{
        position: absolute;
        // width: 100px;
        // height: 100px;
        // background-color: rgba(126, 45, 45, 0.76);
        right: 0px;
        bottom: 300px;

        h1{
            font-size:1.4rem;
        }
    }
}

.footer{
    padding: 20px;
    width: 100%;
    background: #000;
    @include displayFlex(column);
    align-items: center;
    color: #ffffff;

    &__wrapper{
        padding-top: 30px;
        @include displayFlex(row);

        div{
            padding: 0px 10px 0px 10px;
        }

        div:nth-child(2){
            border-left: 1px solid white;
            border-right: 1px solid white;
        }


    }

}


@media only screen and (max-width: 769px){
    .header{

        &.active{
            height: 100px;
            width: 100%;
        }
        flex-direction: column;
        justify-content: space-around;

        &__menu{
            display:block;

            &:hover{
                cursor: pointer;
            }
        }
        
        &__right{
            display: none;
            margin: 0 auto;
            

            &.active{
                display: flex;
                // flex-direction: column;
                
            }
        }
    }

    .main{
        width:94vw;

    }

    .media{
        position: fixed;
        top: 30vh;
        left: 10px;
        padding: 10px 25px 10px 10px;
        background-color: rgba(240, 240, 240, 0.842);
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.212);
    
        &__items{

            img{    
                width: 2.2vw;
                height:auto;
            }
            
        }
    }

    

    
}
