@mixin displayFlex($direction){
    display: flex;
    flex-direction: $direction;
}

$std-font-size: 16px;

html{
    font-size: $std-font-size;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

body{
    overflow-x: hidden;
}

.header{
    height: 50px;
    width: 100%;
    position:fixed;
    padding:0 30px;
    background: #ffffff;
    @include displayFlex(row);
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.1px solid #dddcdc;
    box-shadow: 0.2px 0.2px 2px rgba(0, 0, 0, 0.2);
    z-index: 10;

    &__content{
        @include displayFlex(row);
    }

    &__item{
        padding: 0 20px;
        font-size: 15px;
        

        &:hover{
            cursor: pointer;
        }

        &--active{
            font-weight: bold;
        }
    }

    &__menu{
        display: none;
        top: 0.90rem;
        right: 0.90rem;
        position: absolute;
        height: 20px;
        width: 20px;

        img{
            width: 100%;
            height: 100%;
        }
    }
}

.main{
    width: 60vw; //change here necessarily
    margin: 0 auto;
    padding-top: 90px;

    *{
        padding-bottom: 20px;
    }

    &__section{
        background: #ffffff;
        margin-bottom: 20px;
        border-bottom: 1px solid #cccbcb;
    }

    &__brief{
        padding-bottom: 40px;
    }

    &__title{
        font-size: 2.625rem;
        font-weight: bolder;
    }

    &__image{
        width: 100%;
    }

    &__description{
        font-size: 18px;
        font-weight: 400;
        line-height: 35px;
    }

    &__posted{
        font-size: 0.7rem;
        font-weight: 700;
        color: #7e7e7e;
    }
    
    &__FAQ {
        font-size: 1.4rem;
        font-weight: 600;
        
    }

    &__stacks{
        @include displayFlex(row);
        justify-content: space-evenly;

    }

    &__tech{
        padding: 20px 20px 0px 20px;
        // background: #f8f8f8;
        
        &:hover{
            cursor: pointer;
            border-radius: 2px;
            background: rgb(245, 245, 245);
        }
    }

    &__tech__img{
        width: 5vw;
        height:auto;
    }

    &__projects{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
        gap: 10px;  
    }

    &__item{
            
        &:hover{
            cursor: pointer;
            background: rgb(245, 245, 245);
            border-radius: 2px;
        }

        img{
            width: 100%;
            height: 200px;
        }
        
        p,h1{
            padding-left: 10px;
        }

        h1{
            font-size: 26px;
        }
    }

    // ACCORDION 
    &__label{
        font-size: 17px;
        font-weight: bolder;
        display: block;
        padding: 10px;
        cursor: pointer;
        transition: background-color 0.3s;

        &::before{
            content: "+";
            padding-right: 10px;
        }
    }

    &__content{
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s;
        display: none;
    }

    input[type="checkbox"] {
        display: none;
    
        &:checked + .main__label + .main__content {
            padding-left: 28px;
            max-height: 500px; /* Adjust the maximum height as needed */
            display: block;
            transition: max-height 0.3s;
        }
    }   
    // ACCORDION
}

.media{
    position: fixed;
    top: 200px;
    left: 30px;
    padding: 15px 10px 15px 10px;

    &__items{
        
        img{    
            width: 30px;
            height:auto;
            padding: 15px 0px 15px 0px;

            &:hover{
                cursor: pointer;
            }
        }
        
    }
}

.footer{
    padding: 20px;
    width: 100%;
    background: #000;
    @include displayFlex(column);
    align-items: center;
    color: #ffffff;

    h1{
        font-size: 0.9rem;
    }

    &__wrapper{
        padding-top: 30px;
        @include displayFlex(row);

        a{
            padding: 0px 10px 0px 10px;
            font-size: 0.8rem;
            text-decoration: none;
            color: #ffffff;
        }

        a:nth-child(2){
            border-left: 1px solid white;
            border-right: 1px solid white;
        }


    }

}


@media only screen and (max-width: 769px){
    .header{
        flex-direction: column;
        justify-content: space-around;

        &.active{
            height: 100px;
            width: 100%;
        }

        &__right{
            div{
                font-size: 13px;
            }
        }
        
        &__menu{
            display:block;

            &:hover{
                cursor: pointer;
            }
        }
        
        &__right{
            display: none;
            margin: 0 auto;
            

            &.active{
                display: flex;
                // flex-direction: column;
                
            }
        }
    }

    .main{
        width:93vw;


        &__title{
            font-size: 2rem;
            font-weight: bolder;
        }

        &__description{
            font-size: 16px;
            font-weight: 400;
            line-height: 30px;
        }

        &__item{
            h1{
                font-size: 20px;
            }
            p{
                font-size: 14px;
                line-height: 20px;
            }
        }

        &__FAQ{
            font-size: 18px;
        }

        &__label{
            font-size: 15px;
        }

        &__content{
            p{
                font-size: 14px;
            }
        }
    }

    .media{
        position: fixed;
        top: 150px;
        left: 0px;
        padding: 10px 15px 10px 15px;
        background-color: rgba(216, 216, 216, 0.842);
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.212);
    
        &__items{

            // padding-left: 10px;

            img{    
                width: 18px;
                height:auto;
            }
            
        }
    }
}
